body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header{
    width: 100%;
    background-color: #333333;
        
}





/******active menu********/

.menu{
    width: 40%;
    border: 2px solid red;
    
}





/********picture*******/


.picture{
    width: 100%;
    background-color: #000000;
}

.picture img{
    width: 100%;
    position: relative;  
    opacity: 0.5;
}
.main .box{
    width: 40%;
    height: 200px;
    margin-left: 130px;
    position: absolute;
    margin-top: -300px;
    letter-spacing: 350px;
}
.main .box p{
    text-transform: uppercase;
    font-size: 200px;
    position: absolute;
    color: #5e5e5e;
    margin: auto;
}
.main .box2 h2{
    text-transform: uppercase;
    color: white;
    font-size: 48px;
    
}
.main .box2 h2 span{
    font-weight: 900;
}
.picture h3{
    text-transform: uppercase;
    color: white;
}
.picture span{
    font-weight: 900;
    font-size: 50px;
}
.main .box2{
    position: absolute;
    width: 30%;
    height: 200px;
    margin-left: 35%;
    margin-top: -250px;
}

/******2box*******/

.two-boxes{
    width: 100%;
    margin-top: 20px;
    display: inline-block;
}
.box-left{
    width: 40%;
    display: block;
    float: left;
    margin-left: 10%;
}
.two-boxes .box-left img{
    display: block;
}
.box-right{
    width: 40%;
    display: block;
    float: right;
    margin-right: 9%;

}
.box-right img{
    margin-top: 35px;
}
.signs{
    margin-top: 30px;
}
.signs img{
    margin-left: 20px;
    margin-right: 20px;
}
.text h3{
    text-transform: uppercase;
    color: #333333;
}
.text h4{
    text-transform: uppercase;
    color: #333333;
}
.text p{
    color: #333333;
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
    margin-right: 24px;
}
