body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

header {
    width: 100%;
    background-color: #333333;
}

.main .box {
    width: 40%;
    margin-left: 23%;
    position: absolute;
    margin-top: -14%;
    /*    border: 2px solid green;*/
}

.main .box p {
    text-transform: uppercase;
    font-size: 48px;
    color: white;
    font-weight: 100;
    margin: auto;
    text-align: center;
}

.main .box2 {
    position: absolute;
    width: 60%;
    margin-left: 27%;
    margin-top: -17%;
    /*        border: 2px solid red;*/
}

.main .box2 h3 {
    text-transform: uppercase;
    display: inline-block;
    color: white;
    font-size: 30px;
    margin-top: 15%;
    text-align: center;
    margin-left: 5%;
}

hr {
    width: 90%;
    margin-top: 40px;
}

.list li {
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    margin-right: 10px;
}

.list {
    margin-left: 3%;
}

.list a {
    text-decoration: none;
    color: #727272;
    font-size: 13px;
    font-weight: 100;
}


/*****pictures*****/

.box0 {
    /*    margin-left: 8%;*/
    width: 22.5%;
    display: inline-block;
    vertical-align: top;
    margin-left: 4.4%;
}

.box0 img {
    width: 100%;
    height: 410px;
    vertical-align: bottom;
}

.box1 {
    /*    margin-left: 8%;*/
    width: 22.5%;
    display: inline-block;
    vertical-align: top;
    /*    margin-left: 4.4%;*/
}

.box1 img {
    width: 96%;
    height: 400px;
    vertical-align: top;
}

.box-l img {
    width: 96%;
    height: 400px;
}

.box-l {
    width: 46%;
    display: inline-block;
    margin-left: 2px;
}

.box-l button {
    color: black;
    width: 120px;
    height: 40px;
    background-color: white;
    margin-left: -39%;
    margin-top: 14%;
    position: absolute;
    border: 1px solid black;
}

.box-l button a {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: black;
}

.line-two {
    width: 90%;
    display: inline-block;
    margin-left: 5%;
    margin-top: 7px;
}

.line-two img {
    width: 24%;
    margin-right: 10px;
}


/****win-left****/

.win-left img {
    width: 100%;
}

.win-left {
    margin-left: 4.9%;
    display: inline-block;
    width: 66.7%;
    margin-top: 10px;
}

.win-left h1 {
    text-transform: uppercase;
    color: #575153;
    font-weight: 200;
    letter-spacing: 5px;
    position: absolute;
    margin-top: -20%;
    margin-left: 20px;
}

.win-left h1 span {
    font-weight: bold;
    letter-spacing: 5px;
}

.win-left p span {
    margin-top: -8%;
    position: absolute;
    font-weight: 700;
    font-size: 16px;
}

.win-left p {
    width: 34%;
    font-size: 18px;
    color: #727272;
    margin-left: 20px;
    margin-top: -30%;
    line-height: 25px;
}

.win-left button {
    color: black;
    width: 120px;
    height: 40px;
    background-color: white;
    margin-top: 1%;
    margin-left: 15px;
    position: absolute;
    border: 1px solid black;
}

.win-left button a {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: black;
}

.win-left h2 {
    color: #00c8c8;
    margin-left: 39%;
    margin-top: -11%;
    font-size: 150px;
    letter-spacing: 10px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    display: block;
}

.win-left h3 {
    font-weight: 900;
    color: #00c8c8;
    font-size: 45px;
    margin-left: 36%;
    margin-top: -2%;
    text-transform: uppercase;
    display: block;
    letter-spacing: 10px;
    position: absolute;
}

.win-r {
    display: inline-block;
    width: 23%;
    margin-left: 10px;
    margin-top: 10px;
    vertical-align: top;
}

.win-r img {
    width: 96%;
    height: 380px;
    display: inline-block;
}


