body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

header {
    width: 100%;
    background-color: #333333;
}



.picture {
    width: 100%;
    background-color: #000000;
}

.picture img {
    width: 100%;
    position: relative;
    opacity: 0.5;
}

.main .box {
    width: 40%;
    margin-left: 23%;
    position: absolute;
    margin-top: -15%;
}

.main .box p {
    text-transform: uppercase;
    font-size: 48px;
    color: white;
    text-align: center;
}

.main .box span {
    font-weight: bold;
}

.main .box2 {
    position: absolute;
    width: 60%;
    margin-left: 30%;
    margin-top: -17%;
}

.main .box2 h3 {
    text-transform: uppercase;
    display: inline-block;
    color: white;
    font-weight: 100;
    font-size: 30px;
    margin-top: 15%;
    text-align: center;
    font-weight: 100;
    margin-left: 5%;
}


/****2 container****/

.box-left {
    width: 40%;
    display: inline-block;
    margin-left: 10%;
    margin-top: 20px;
    vertical-align: top;
}

.box-left h2 {
    font-size: 18px;
    display: block;
}

input {
    display: block;
    width: 90%;
    height: 30px;
    margin-top: 20px;
    font-size: 15px;
}

.box-left button {
    width: 20%;
    height: 50px;
    margin-top: 20px;
    background-color: #00c8c8;
    display: inline-block;
}

.box-left button a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}

.box-left p {
    display: inline-block;
    margin-left: 20%;
}

.box-left a {
    text-decoration: none;
    color: #00c8c8;
    font-size: 15px;
}
.vl{
    border-left: 1px solid #d3ccce;
    height: 320px;
    display: inline-block;
    margin-top: 20px;
}

.box-r {
    display: inline-block;
    margin-left: 3%;
    width: 40%;
    vertical-align: top;
    margin-top: 20px;
}
.box-r h2{
    font-size: 18px;
}

.box-r input {
    display: block;
}

.box-r .last-line input {
    display: inline-block;
    width: 10%;
    border: 2px solid red;
    font-size: 20px;
}

.box-r .last-line p {
    display: inline-block;
    margin-left: -30px;
    margin-top: -10px;
    vertical-align: middle;
    font-size: 15px;
    color: #737373;
}

.box-r button {
    width: 45%;
    height: 50px;
    background-color: white;
    border: 1px solid #454647;
}

.box-r button a {
    color: #454647;
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: inline-block;
}

.box-r .create p {
    display: inline-block;
    width: 40%;
    margin-left: 20px;
    vertical-align: middle;
    font-size: 15px;
    line-height: 15px;
    color: #737373;
    line-height: 20px;
}

.box-r .create a {
    color: #00c8c8;
    text-decoration: none;
}
