@media(max-width: 1620px){
    .landing-page header .currency{ 
        width: 20%;
    }
    .landing-page header .register{
        margin-left: 10%;
    }

    .landing-page header header{
        width: 80%;
        
        }
        .landing-page header{
            height: 50px;
        }
    }
@media(max-width: 1610px){
    header{
        width: 60%;
    }
}
    